page-edit {

    .bg-style {
       background-color:skyblue;
       color:white;    
       
    }
    .b{
        color:white;
        

    }
    .p{
        background-color:white;
        color:skyblue;
        text-align:center;
    }
}
