page-home{

    .bg-style {
       background-color:skyblue;    
    }
    #container{
       
        margin-left: auto;
        margin-right: auto;
    }
    #my {
    display: flex; justify-content: center; 
    }
    .b{
        color:white;
        text-align: center;

    }
    button{
        position:center;
        color:white;
    }
    .p{
        background-color:white;
        color:skyblue;
        text-align:center;
    }
    }